<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{element.position}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="modelo">
    <th mat-header-cell *matHeaderCellDef>Modelo</th>
    <td mat-cell *matCellDef="let element">{{element.modelo}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="marca">
    <th mat-header-cell *matHeaderCellDef>Marca</th>
    <td mat-cell *matCellDef="let element">{{element.marca}}</td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="ano">
    <th mat-header-cell *matHeaderCellDef>Ano</th>
    <td mat-cell *matCellDef="let element">{{element.ano}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="placa">
    <th mat-header-cell *matHeaderCellDef>Placa</th>
    <td mat-cell *matCellDef="let element">{{element.placa}}</td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="renavam">
    <th mat-header-cell *matHeaderCellDef>Renavam</th>
    <td mat-cell *matCellDef="let element">{{element.renavam}}</td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="chassi">
    <th mat-header-cell *matHeaderCellDef>Chassi</th>
    <td mat-cell *matCellDef="let element">{{element.chassi}}</td>
  </ng-container>

  <!-- editar Column -->
  <ng-container matColumnDef="editar">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary">Editar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="openDialog(row)" *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<br>
<br>

<button mat-raised-button color="primary" (click)="addVeiculoDialog()">Adicionar Veículo</button>
